* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  background-color: #ddd;
}

/*          ============            */
/*          css for navbar          */
/*          ============           */

.nav-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.logo {
  font-family: "Akronim", cursive;
  text-shadow: 4px 4px 11px rgba(150, 150, 150, 1);
  font-size: 2rem;
  color: #333;
}
.toggle-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0.3rem 0.7rem;
  background-color: transparent;
  cursor: pointer;
}
.toggle-btn:active {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.toggle-btn i {
  font-size: 1.5rem;
  color: #555;
}

.links-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: 1s height ease-in-out;
}

.show-links {
  height: 280px;
}

.links-container .link {
  border-top: 1px solid black;
  font-size: 1.1rem;
  padding: 1rem;
  font-family: "Nova Square", cursive;
  text-decoration: none;
  color: black;
}
.links-container .active {
  color: rgb(100, 97, 97);
}
.links-container .link:hover {
  color: rgb(100, 97, 97);
}

.button-link .contact-btn {
  padding: 0.3rem 0.7rem;
  font-size: 1.1rem;
  font-family: "Nova Square", cursive;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.button-link .contact-btn:active {
  background-color: rgba(0, 0, 0, 1);

  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
}

@media (max-width: 500px) {
  .logo {
    font-size: 2.3rem;
  }
}

@media (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
  .nav-container {
    flex-direction: row;
    padding: 1rem 0;
    align-items: center;
  }
  .links-container {
    flex-direction: row;
    height: auto;
    align-items: center;
    width: 100%;
  }
  .links-container .link {
    border: none;
    /* padding: 0; */
  }
  .logo-container {
    margin-bottom: 0;
    margin-right: 2.4rem;
  }
  .logo {
    font-size: 3rem;
  }
  .button-link {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .logo {
    font-size: 3rem;
  }
}
/*          ============            */
/*          end css for navbar      */
/*          ============             */

/* ===================================== */

/*          ============            */
/*         css for header      */
/*          ============             */

.banner {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding: 1rem;
  margin-top: 0 1rem;
}

.banner-container {
  height: 40vh;
  background-image: url("./image/bcgImg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.banner-text {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.7rem;
  align-items: center;
  border-radius: 5px;
}
.banner-text h3 {
  transform: translateY(-20px);
  font-size: 3rem;
}

article.content {
  max-width: 1170px;
  margin: 1rem auto;
  display: grid;
  gap: 1rem 2rem;
  padding: 0 1rem;
}
.tags-container {
  order: 1;
}
.tags-container h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 500;
}
.tags {
  padding: 0.3rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.3rem;
}
.tags p {
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  font-size: 1.2rem;
}

.tags p:hover {
  color: #555;
}
.food-container .food-title {
  font-family: "Nova Square", cursive;
  /* font-weight: 600; */
  color: #333;
  font-size: 1.5rem;
  margin-top: 0.3rem;
}

.cook-time p {
  font-family: "Roboto Condensed", sans-serif;
  word-spacing: 3px;
}

.food-container img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.food-container img:hover {
  opacity: 0.7;
}

.food-container {
  display: grid;
  gap: 2.3rem 2rem;
}
@media (min-width: 576px) {
  .food-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) {
  .banner-text h3 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .banner {
    padding: 1rem 0;
  }
  article.content {
    display: grid;
    grid-template-columns: 170px 1fr;
    margin-bottom: 3rem;
  }
  .tags-container {
    order: 0;
  }
  .tags-container h3 {
    margin-top: 0;
  }
  .tags {
    padding: 0.3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0.7rem;
  }
  .tags-container h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}
@media (min-width: 1170px) {
  .food-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*          ============            */
/*         end css for header      */
/*          ============             */

/* ===================================== */

/* ===================================== */

/*          ============            */
/*         css for about      */
/*          ============             */

.about {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}
.about-banner {
  display: grid;
  gap: 2rem 1rem;
}
.about-info h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.2rem;
  letter-spacing: 3px;
  font-weight: bolder;
  color: black;
  padding-bottom: 1.5rem;
}

.about-info p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-right: auto;
}
.about-contact {
  padding: 0.3rem 0.7rem;
  font-size: 1.1rem;
  font-family: "Nova Square", cursive;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.about-contact:active {
  background-color: rgba(0, 0, 0, 0.7);
}

.about-image {
  background: url("./image/snacks2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 5px;
  max-height: 50vh;
  height: 40vh;
  background-color: red;
}

.about-content .info-about {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nova Square", cursive;
  font-weight: 400;
  padding: 1.3rem;
}

.about-content {
  margin-top: 2rem;
}

.about-image-container {
  display: grid;
  gap: 2rem 1rem;
}

.image-container .image {
  max-height: 40vh;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s opacity ease;
}
.image-container .image img {
  width: 100%;
  border-radius: 5px;
}
.image-container .image:hover {
  opacity: 0.5;
  cursor: pointer;
}
.image-title {
  font-size: 1.3rem;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.image-info {
  font-family: "Roboto Condensed", sans-serif;
  word-spacing: 5px;
}
@media (min-width: 576px) {
  .about-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .about-banner {
    grid-template-columns: 1fr 1fr;
    gap: 2rem 3rem;
    margin-top: 1rem;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-contact {
    margin-right: auto;
    margin-top: 1rem;
  }
  .about-image {
    height: 45vh;
  }
}
@media (min-width: 1170px) {
  .about {
    padding: 1.5rem 0;
  }
  .about-image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/*          ============            */
/*         end css for about      */
/*          ============             */

/* ===================================== */

/*          ============            */
/*         css for footer     */
/*          ============             */
footer {
  background-color: black;
  color: white;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 1rem;
  font-family: "Nova Square", cursive;
}

footer .text {
  font-size: 1.3rem;
  color: rgb(141, 58, 218);
  font-weight: bold;
  font-family: "Akronim", cursive;
  letter-spacing: 2px;
  word-spacing: -2px;
}

@media (max-width: 576px) {
  footer {
    font-size: 1rem;
  }
  footer .text {
    font-size: 1rem;
  }
}
/*          ============            */
/*         end css for footer    */
/*          ============             */
